<?xml version='1.0' encoding='utf-8'?>
<widget id="com.taynara.movieapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Movieflix</name>
    <description>An app that shows movies</description>
    <author email="taynaradb@hotmail.com" href="github.com/taynaradb">
        Apache Cordova Team
    </author>
     <icon src="res/popcorn.png" />
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
